<% for (let i = 0; i < games.length; i++) { %>
  <div class="game">
    <a href="<%= "/game/"+games[i].safe_name %>">
      <img src="<%= games[i].img_path %>" alt="<%= games[i].name %>">
      <div><%= games[i].name %></div>
    </a>
  </div>
<% } %>
