body, html {
	background-color: #F4F4F4;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: Catamaran, Arial, sans-serif;
	line-height: 1.5;
}

#header {
	background-color: #FFF;
	/* height: 75px; */
}

a {
	text-decoration: none;
}